@import url('https://fonts.googleapis.com/css?family=Work+Sans:400');

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//PARAGRAPH
.paragraph {
    font-size: 16px;
}


//HEADINGS
%heading {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}


.heading-1 {
	@extend %heading;
	font-size: 3.052rem;
}

.heading-2 {
	@extend %heading;
	font-size: 2.441rem;
}


.heading-3 {
	@extend %heading;
	font-size: 1.953rem;
}


.heading-4 {
	@extend %heading;
	font-size: 1.563rem;
}


.heading-5 {
	@extend %heading;
	font-size: 1.25rem;
}

