//COLORS
$color-primary: #000;
$color-secondary: #fff;

$color-text-primary: #000;


//MARGIN
$margin-small: 8px;
$margin-medium: 32px;
$margin-large: 64px;
$margin-huge: 112px;


//PADDING
$padding-small: 8px;
$padding-medium: 32px;
$padding-large: 64px;
$padding-huge: 112px;


