//COLORS
$black:#1a1a1a;
$gray-1:#262626;
$gray-2:#404040;
$gray-3:#595959;
$gray-4:#737373;
$gray-5:#8C8C8C;
$gray-6:#A6A6A6;
$gray-7:#CCCCCC;
$white: rgb(252, 248, 237);


//MARGIN
$margin-small: 8px;
$margin-medium: 32px;
$margin-large: 64px;
$margin-huge: 112px;


//PADDING
$padding-small: 8px;
$padding-medium: 32px;
$padding-large: 64px;
$padding-huge: 112px;


