.img-container{
    grid-column: col-start 6/ col-end 11;
    margin-top: 10rem;

    & .image-set img{
        opacity: 0;
        max-width: 40rem;
        transition: opacity .5s ease;

    }
}

li[data-tag="banke"]:hover ~ .image-set[data-tag="banke"]{
    opacity: 1;
    visibility: visible;
    display: block;
}