.light-switch{
    z-index: 3;
    position: fixed;
    bottom: 9%;
    left: 4%;
    transform: translate(-50%,-50%);
    width: 2.5rem;
    height: 2.5rem;
    transition: all .5s;
    @include respond(tab-port) {
     
        display: none;
    }
}

.light-switch.active{
    background-color: transparent;
    border: 2px solid  transparent;
}

.light-switch-toggle{
    // -webkit-appearance: none;
    // opacity: 0;
    z-index: 0;
    display: block;
    border: 2px solid $black;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color:  $white;
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
  
    @include respond(tab-port) {
        // width: 1.7rem;
        // height: 1.7rem;
        // top: 50%;
        // left:30%;
    }
}

.light-switch-toggle-ui{
    position: absolute;
    cursor: pointer;
    display: block;
    border: 2px solid $black;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color:  $white;
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.light-switch-toggle-ui.active{
    background-color: $black;
    border: 2px solid  $white;
    @include respond(tab-port) {
        // top:50%;
        // left:70%;
    }
}

