.white-background {
    background-color: $black;
}

.dark-text {
    color: $white;
}


.light-switch{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid $black;
    border-radius: .2rem;
    width: 3.5rem;
    height: 6rem;
    background-color: $black;
    transition: all .5s;
    @include respond(tab-port) {
        width: 5rem;
        height: 3rem;
        display: none;
    }
}

.light-switch.active{
    background-color: $white;
    border: 2px solid  $white;
}

.light-switch-toggle{
    cursor: pointer;
    display: block;
    border: 2px solid $black;
    border-radius: 50%;
    width: 2.1rem;
    height: 2.1rem;
    background-color:  $white;
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
    @include respond(tab-port) {
        width: 1.7rem;
        height: 1.7rem;
        top: 50%;
        left:30%;
    }
}

.light-switch-toggle.active{
    top:70%;
    background-color: $black;
    border: 2px solid  $black;
    @include respond(tab-port) {
        top:50%;
        left:70%;
    }
}

