.white-background {
   
    background-color: #1a1a1a;
}

.dark-text {
   
    color: white;
}

.light-switch{
    display: block;
    border: 1px solid #1a1a1a;
    border-radius: .2rem;
    width: 5.5rem;
    height: 6rem;
    background-color: white;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .5s;
}

.light-switch.active{
    background-color: #1a1a1a;
    border: 1px solid white;
}

.light-switch-toggle{
    display: block;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    background-color: white;
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.light-switch-toggle.active{
    top:70%;
    background-color: #1a1a1a;
    border: 1px solid white;
}

