[data-theme="dark-mode"] {
    & body{
        background-color: $black;
    }

    & p,a,h1,h2,h3,h4,h5,h6{
        color: $white;
    }

    & button.dark{
        border: 2px solid $white;
        color: $white;
        background-color: $black;

        &:hover{
            border: 2px solid $white;
            background-color: $white;
            color: $black;
        }
    }

    path{
        fill: $white;
      
    }

    .light-switch-toggle-ui{
        background-color: $black;
        border: 2px solid  $white;
    }


    & .navigation:hover .navigation__link{
        color: $gray-2;
    }
    
    & .navigation__item {
        &:hover {
            .navigation__link{
                color: $white;
            }
        }
    } 

    & .menu__list:hover .menu__link{
        color: $gray-2;
      }
    
    & .menu__item {
        &:hover {
            .menu__link{
                color:$white;
            }
        }
    }
      
}