footer{
    display: flex;
    grid-column: col-start 6 / content-end;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    @include respond(tab-land) {
        grid-column: col-start 1 / col-end 12;
        // flex-direction: column-reverse;
    }
    

    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 11rem;
        margin-right: 2rem;

        @include respond(tab-land) {
            margin-right: 0;
         
        }
    
        .dark{
            padding: 0.7rem 1.6rem;
            border: 2px solid $black;
            border-radius: .2rem;
            letter-spacing: 1.0;

            &:hover{
                border: 2px solid $black;
                color: $white;
                background-color: $black;
            }
    
        }
    }

    svg{
      
        height:50;
        animation: float 2s ease infinite;
        transition: height .3s;
        &:hover{
            animation: float .5s ease infinite;

        }
        cursor: pointer;
        path{
            fill: $black;
          
        }
        
    }
}