.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
    grid-gap: 6rem;
    column-gap: 4rem;
    min-height: 30vw;
    grid-column: col-start 1 / col-end 12;
    margin: 10rem 0;
    // justify-items: flex-end;
    @include respond(tab-port) {
        margin: 8rem 0;
    }
}