.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-column: col-start 2 / col-end 11;
    grid-gap:  6rem 6rem;
    min-height: 10vw;
    margin: 6rem 0 6rem 0;

    @include respond(tab-land) {
        grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    }

    @include respond(tab-port) {
        grid-column: col-start 1 / col-end 12;
        margin: 6rem 0;
    }
    @include respond(phone) {
        margin: 3rem 0;

    }

   

    &-set{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column: col-start 2 / col-end 11;
    grid-gap: 3rem 3rem;
    min-height: 20vw;
    margin: 8rem 0 6rem 0;

    @include respond(phone) {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-column: col-start 1 / col-end 12;
        margin: 3rem 0;
    }

    & .image-set{
        max-width: 100%;
        cursor: auto;
        }

        .remove{
            @include respond(tab-port) {
              display: none;
            }

        }
    }


    // div[class~="gallery"]{

//     @include respond(phone) {
//         grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
//         margin: 3rem 0;
//     }
// }
}

