.header{
    height: 8rem;
    display: flex;
    justify-content: space-between;
    grid-column: col-start 1/col-end 12;
    white-space: nowrap;
    align-items: flex-end;
    position: relative;
    animation: fadeDown 1.3s ease;
}