    .navigation{
        min-width: 26rem;
        @include respond(tab-port) {
            min-width: 22rem;
        }
    &__list{
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include respond(tab-port) {
            // min-width: 25rem;
        }

        a{
            font-size: 1.5rem;
            @include respond(tab-port) {
                font-size: 80%;
            }
        }
    }

    &__item:not(:first-child){
        // margin-left:2.8rem;
    }
}