.navigation{
    height: 80px;
    display: flex;
    justify-content: space-between;
    grid-column: col-start 1/col-end 12;
    white-space: nowrap;
    align-items: flex-end;

    
    &__nav{
        grid-column: col-start 10/col-end 12;
    }

    &__list{
        display: flex;
    }

    &__item:not(:last-child){
        margin-right:3.8rem;
    }
}
