@import url("https://fonts.googleapis.com/css?family=Work+Sans:400");
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1vw); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1vw); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-2vw); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-2vw); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes float {
  0% {
    transform: translateY(10%); }
  50% {
    transform: translateY(-10%); }
  100% {
    transform: translateY(10%); } }

@keyframes float {
  0% {
    transform: translateY(10%); }
  50% {
    transform: translateY(-10%); }
  100% {
    transform: translateY(10%); } }

@-webkit-keyframes stretchIt {
  0% {
    width: 1.5rem;
    height: 1.5rem; }
  75% {
    width: 3.5rem;
    height: 3.5rem; }
  100% {
    width: 2.5rem;
    height: 2.5rem; } }

@keyframes stretchIt {
  0% {
    width: 1.5rem;
    height: 1.5rem; }
  75% {
    width: 3.5rem;
    height: 3.5rem; }
  100% {
    width: 2.5rem;
    height: 2.5rem; } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

main {
  display: block; }

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none; }

ul {
  list-style: none; }

button * {
  pointer-events: none; }

img,
embed,
iframe,
object,
video {
  display: block;
  max-width: 100%;
  border-style: none; }

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit; }

body {
  -webkit-overflow-scrolling: touch; }

@font-face {
  src: url(./fonts/Agrandir/Agrandir-regular.otf);
  font-family: "Agrandir";
  font-weight: 400; }

body {
  font-family: "Agrandir";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color .5s; }

p, a, h1, h1, h2, h3, h4, h5, h6 {
  font-family: "Agrandir";
  font-weight: 400;
  transition: color .2s; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Agrandir";
  font-weight: 400; }

h1 {
  font-size: 7.2rem;
  line-height: 1.2; }
  @media (max-width: 75em) {
    h1 {
      font-size: calc(7.2rem - 8px); } }
  @media (max-width: 56.25em) {
    h1 {
      font-size: calc(7.2rem - 16px); } }

h2 {
  font-size: 5.6rem;
  line-height: 1.2; }
  @media (max-width: 75em) {
    h2 {
      font-size: calc(5.6rem - 8px); } }
  @media (max-width: 56.25em) {
    h2 {
      font-size: calc(5.6rem - 16px); } }

h3 {
  font-size: 4.3rem;
  line-height: 1; }
  @media (max-width: 75em) {
    h3 {
      font-size: calc(4.3rem - 8px); } }
  @media (max-width: 56.25em) {
    h3 {
      font-size: calc(4.3rem - 16px); } }

h4 {
  font-size: 3.3rem;
  line-height: 1.3; }
  @media (max-width: 75em) {
    h4 {
      font-size: calc(3.3rem - 8px); } }
  @media (max-width: 56.25em) {
    h4 {
      font-size: calc(3.3rem - 12px); } }

h5 {
  font-size: 2.4rem;
  line-height: 1.4; }
  @media (max-width: 75em) {
    h5 {
      font-size: calc(2.4rem - 8px); } }

h6 {
  font-size: 1.6rem;
  line-height: 1.4; }
  @media (max-width: 75em) {
    h6 {
      font-size: 1.4rem; } }
  @media (max-width: 56.25em) {
    h6 {
      font-size: 1.2rem; } }

button {
  display: inline-block;
  border: none;
  padding: 1rem 1rem;
  color: #1a1a1a;
  background-color: #f8f8f8;
  letter-spacing: .091em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: none;
  transition: all .3s ease;
  cursor: pointer; }

body {
  display: grid;
  grid-template-columns: [page-start] 1fr [content] repeat(12, [col-start] 1fr [col-end]) [content-end] 1fr [page-end]; }

.image-set {
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-animation: fadeIn 2.3s ease;
          animation: fadeIn 2.3s ease; }
  .image-set:hover h4 {
    top: 2rem;
    opacity: 1; }
  .image-set h4 {
    position: absolute;
    z-index: 3;
    top: 3rem;
    left: 2rem;
    opacity: 0;
    color: #f8f8f8;
    transition: opacity 0.5s, top 0.5s; }
  .image-set img {
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: .2rem; }

.light-switch {
  position: fixed;
  z-index: 3;
  bottom: 9%;
  left: 4%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  transition: all .5s; }
  @media (max-width: 56.25em) {
    .light-switch {
      display: none; } }

.light-switch-toggle {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-appearance: none;
  opacity: 0;
  visibility: hidden;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #1a1a1a;
  border-radius: 50%;
  background-color: #f8f8f8;
  transition: all .5s; }

.light-switch-toggle-ui {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #1a1a1a;
  border-radius: 50%;
  background-color: #f8f8f8;
  transition: all .5s;
  cursor: pointer; }

.light-switch-toggle-ui.active {
  background-color: #1a1a1a;
  border: 2px solid #f8f8f8; }

.header {
  position: relative;
  display: flex;
  grid-column: col-start 1/col-end 12;
  align-items: flex-end;
  justify-content: space-between;
  height: 8rem;
  white-space: nowrap; }
  @media (max-width: 56.25em) {
    .header {
      grid-column: col-start 2 /col-end 11; } }
  @media (max-width: 37.5em) {
    .header {
      justify-content: space-between;
      align-items: center;
      max-height: 6rem;
      margin-top: 3rem;
      grid-column: col-start 1 /col-end 12; } }

.navigation {
  display: flex;
  min-width: 28rem;
  justify-content: flex-end;
  align-content: flex-end; }
  @media (max-width: 37.5em) {
    .navigation {
      min-width: 0; } }
  .navigation__checkbox {
    display: none; }
  .navigation:hover .navigation__link {
    color: #CCCCCC; }
  .navigation__button {
    z-index: 10;
    position: relative;
    height: 4rem;
    width: 4rem;
    cursor: pointer; }
    .navigation__button:hover .navigation__icon::before {
      top: -.9rem; }
    .navigation__button:hover .navigation__icon::after {
      top: .9rem; }
  .navigation__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 3rem;
    height: .2rem;
    background-color: #1a1a1a;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out; }
    @media (max-width: 56.25em) {
      .navigation__icon {
        display: block; } }
    @media (max-width: 37.5em) {
      .navigation__icon {
        width: 2.2rem; } }
    .navigation__icon::before {
      content: "";
      position: absolute;
      top: -.7rem;
      display: block;
      width: 3rem;
      height: .2rem;
      background-color: #1a1a1a;
      transition: all .3s ease-in-out; }
      @media (max-width: 37.5em) {
        .navigation__icon::before {
          width: 2.2rem; } }
    .navigation__icon::after {
      content: "";
      position: absolute;
      top: .7rem;
      display: block;
      height: .2rem;
      width: 3rem;
      background-color: #1a1a1a;
      transition: all .3s ease-in-out; }
      @media (max-width: 37.5em) {
        .navigation__icon::after {
          width: 2.2rem; } }
  .navigation__checkbox:checked ~ .navigation__button > .navigation__icon::before {
    transform-origin: center;
    transform: rotate(225deg);
    top: 0rem; }
  .navigation__checkbox:checked ~ .navigation__button > .navigation__icon::after {
    transform-origin: center;
    transform: rotate(-45deg);
    top: 0rem; }
  .navigation__checkbox:checked ~ .navigation__button > .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked ~ .menu-full {
    opacity: 1;
    visibility: visible; }
  .navigation__list {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    @media (max-width: 56.25em) {
      .navigation__list {
        display: none; } }
    .navigation__list .navigation__link {
      font-size: 1.5rem; }
      .navigation__list .navigation__link:hover {
        color: #1a1a1a; }
      @media (max-width: 56.25em) {
        .navigation__list .navigation__link {
          font-size: 90%; } }

.menu {
  grid-column: col-start 2 / col-end 3;
  margin-top: 12rem; }
  @media (max-width: 37.5em) {
    .menu {
      margin-top: 2rem;
      grid-column: col-start 1 / col-end 12; } }
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 70vh;
    white-space: nowrap;
    transition: color 1.2s; }
    .menu__list:hover .menu__link {
      color: #CCCCCC; }
  .menu__item {
    align-items: flex-start;
    transition: color .2s; }
    .menu__item:hover .menu__link {
      color: #1a1a1a;
      margin-left: .5rem; }
  .menu__link {
    display: block;
    opacity: 0;
    transform: translateY(10vh);
    font-size: 2.4rem;
    transition: all .5s; }
    @media (max-width: 37.5em) {
      .menu__link {
        font-size: 2.8rem; } }
    .menu__link:hover {
      color: #1a1a1a; }
  .menu-full {
    z-index: 2;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: #f8f8f8;
    opacity: 0;
    visibility: hidden;
    transition: all .5s; }
    .menu-full__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 40%;
      white-space: nowrap; }
      .menu-full__list:hover .menu__link {
        color: #CCCCCC; }
      .menu-full__list .menu__item {
        align-items: flex-start;
        transition: color .2s; }
        .menu-full__list .menu__item .menu__link {
          font-size: 6rem; }
          @media (max-width: 37.5em) {
            .menu-full__list .menu__item .menu__link {
              font-size: 4rem; } }
        .menu-full__list .menu__item:hover .menu__link {
          color: #1a1a1a;
          margin-left: .5rem; }

footer {
  display: flex;
  grid-column: col-start 6 / content-end;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem; }
  @media (max-width: 75em) {
    footer {
      grid-column: col-start 1 / col-end 12; } }
  footer .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 11rem;
    margin-right: 2rem; }
    @media (max-width: 75em) {
      footer .buttons {
        margin-right: 0; } }
    footer .buttons .dark {
      padding: 0.7rem 1.6rem;
      border: 2px solid #1a1a1a;
      border-radius: .2rem;
      letter-spacing: 1.0; }
      footer .buttons .dark:hover {
        border: 2px solid #1a1a1a;
        color: #f8f8f8;
        background-color: #1a1a1a; }
  footer svg {
    height: 50;
    -webkit-animation: float 2s ease infinite;
            animation: float 2s ease infinite;
    transition: height .3s;
    cursor: pointer; }
    footer svg:hover {
      -webkit-animation: float .5s ease infinite;
              animation: float .5s ease infinite; }
    footer svg path {
      fill: #1a1a1a; }

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-column: col-start 1 / col-end 12;
  grid-gap: 6rem 6rem;
  min-height: 10vw;
  margin: 6rem 0 6rem 0; }
  @media (max-width: 56.25em) {
    .gallery {
      margin: 6rem 0; } }
  @media (max-width: 37.5em) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      margin: 3rem 0; } }
  .gallery-set {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-column: col-start 1 / col-end 12;
    grid-gap: 6rem 6rem;
    min-height: 20vw;
    margin: 8rem 0 6rem 0; }
    @media (max-width: 37.5em) {
      .gallery-set {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        margin: 3rem 0; } }
    .gallery-set .image-set {
      max-width: 100%;
      -webkit-animation: fadeIn 1s ease;
              animation: fadeIn 1s ease;
      cursor: auto; }
    @media (max-width: 56.25em) {
      .gallery-set .remove {
        display: none; } }

[data-theme="dark-mode"] body {
  background-color: #1a1a1a; }

[data-theme="dark-mode"] p, [data-theme="dark-mode"] a, [data-theme="dark-mode"] h1, [data-theme="dark-mode"] h2, [data-theme="dark-mode"] h3, [data-theme="dark-mode"] h4, [data-theme="dark-mode"] h5, [data-theme="dark-mode"] h6 {
  color: #f8f8f8; }

[data-theme="dark-mode"] button.dark {
  border: 2px solid #f8f8f8;
  color: #f8f8f8;
  background-color: #1a1a1a; }
  [data-theme="dark-mode"] button.dark:hover {
    border: 2px solid #f8f8f8;
    background-color: #f8f8f8;
    color: #1a1a1a; }

[data-theme="dark-mode"] path {
  fill: #f8f8f8; }

[data-theme="dark-mode"] .menu-full {
  background-color: #1a1a1a; }

[data-theme="dark-mode"] .light-switch-toggle-ui {
  background-color: #1a1a1a;
  border: 2px solid #f8f8f8; }

[data-theme="dark-mode"] .navigation:hover .navigation__link {
  color: #404040; }

[data-theme="dark-mode"] .navigation__item:hover .navigation__link {
  color: #f8f8f8; }

[data-theme="dark-mode"] .navigation__icon {
  background-color: #f8f8f8; }
  [data-theme="dark-mode"] .navigation__icon::before, [data-theme="dark-mode"] .navigation__icon::after {
    background-color: #f8f8f8; }

[data-theme="dark-mode"] .menu__list:hover .menu__link {
  color: #404040; }

[data-theme="dark-mode"] .menu__item:hover .menu__link {
  color: #f8f8f8; }

body {
  background-color: #f8f8f8; }
